server_urls:
{% for url in loglugger_client_effective_server_urls %}
  - "{{ url }}"
{% endfor %}
client_id: "{{ loglugger_client_id }}"
service_mask: '{{ loglugger_client_service_mask | replace("'", "''") }}'
journal_recovery: {{ loglugger_client_journal_recovery | bool | lower }}
message_regex: '{{ loglugger_client_message_regex | replace("'", "''") }}'
systemd_unit_regex: '{{ loglugger_client_systemd_unit_regex | replace("'", "''") }}'
message_regex_no_match: "{{ loglugger_client_message_regex_no_match }}"
multiline_timeout: "{{ loglugger_client_multiline_timeout }}"
multiline_max_messages: {{ loglugger_client_multiline_max_messages }}

batch_size: {{ loglugger_client_batch_size }}
batch_timeout: "{{ loglugger_client_batch_timeout }}"
http_timeout: "{{ loglugger_client_http_timeout }}"
retry_delay: "{{ loglugger_client_retry_delay }}"

tls_ca_file: "{{ loglugger_client_tls_ca_file }}"
tls_cert_file: "{{ loglugger_client_tls_cert_file }}"
tls_key_file: "{{ loglugger_client_tls_key_file }}"
